@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/bootstrap.css" />

<div class="text-center">
    <h1 class="display-4">The incredible Data @Model.persons.Count</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post">
                    <button asp-page-handler="Filter" asp-route-f="0">No Filter</button>
                    <button asp-page-handler="Filter" asp-route-f="1">Filter</button>
                    <button asp-page-handler="Filter" asp-route-f="2">Filter and Projection</button>
                    <button asp-page-handler="Filter" asp-route-f="3">Filter, Projection and Sorting</button>
                </form>
            </div>
            <div class="col">
                <select name="number" onchange="changeDatabaseStruct(this)">
                    <option value="0">Mongo</option>
                    <option value="1">Postgres</option>
                </select>
            </div>
        </div>
    </div>


    
    <div class="container">
        <div class="row">
            <div class="col">
                 
                @foreach (var person in @Model.persons)
                {
                    <form method="post">
                        <button asp-page-handler="SetGeraete" asp-route-personid="@person.Id">@person.Id @person.Name</button>
                    </form>
                }
                
            </div>
            <div class="col">
                @foreach (var geraete in Model.gereate)
                {
                    <p>@geraete.Name</p>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function processSelection() {
        var selectedOptionValue = $("#myDropdown").val();
        console.log("onchange" + selectedOptionValue)
        $.ajax({
            url: '@Url.Page("Index", "Filter")',
            method: 'POST',
            data: { filter: selectedOptionValue },
            success: function (data) {
                // Erfolgreiche Verarbeitung
                // Hier können Sie entsprechend reagieren
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>