@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/bootstrap.css" />

<div class="text-center">
    <h1 class="display-4">The incredible Data</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post">
                    <button class="btn btn-light" asp-page-handler="Filter" asp-route-f="0">No Filter</button>
                    <button class="btn btn-light" asp-page-handler="Filter" asp-route-f="1">Filter</button>
                    <button class="btn btn-light" asp-page-handler="Filter" asp-route-f="2">Filter and Projection</button>
                    <button class="btn btn-light" asp-page-handler="Filter" asp-route-f="3">Filter, Projection and Sorting</button>
                </form>
            </div>
        </div>
    </div>


    
    <div class="container">
        <h3>Postgres</h3>
        <div class="row">
            <div class="col">
                <h4>Persons</h4>
                @foreach (var person in @Model.persons)
                {
                        <form method="post">
                            <hr />
                        <button class="btn btn-light" asp-page-handler="SetGeraete" asp-route-personid="@person.Id" asp-route-filter="@Model.Filter">@person.Id @person.Name</button>
                        </form>  
                }
                
            </div>
            <div class="col">
                <h4>Geräte</h4>
                @foreach (var geraete in Model.gereate)
                {
                    <p>@geraete.Name</p>
                }
            </div>
            </div>
        <h3>Mongo</h3>
        <div class="row">
            <div class="col">
                <h4>Mongo Persons</h4>
                @foreach (var person in @Model.mongoPersons)
                {
                    <form method="post">
                        <hr />
                        <button class="btn btn-light" asp-page-handler="SetMongoGeraete" asp-route-personid="@person.Id.ToString()" asp-route-filter="@Model.Filter">@person.Id @person.Name</button>
                    </form>
                }

            </div>
            <div class="col">
                <h4>Mongo Geräte</h4>
                @foreach (var geraete in Model.mongoGereate)
                {
                    <p>@geraete.Name</p>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function processSelection() {
        var selectedOptionValue = $("#myDropdown").val();
        console.log("onchange" + selectedOptionValue)
        $.ajax({
            url: '@Url.Page("Index", "Filter")',
            method: 'POST',
            data: { filter: selectedOptionValue },
            success: function (data) {
                // Erfolgreiche Verarbeitung
                // Hier können Sie entsprechend reagieren
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>